body{
   display: flex;
   justify-content: center;
   margin: 0%;
   padding: 0%;
   background-color: #FFF2A6;
}
#todoList{
    background-color: #A8DAE5;
    margin-top: 25vh;
    padding: 3vh;
    border-radius: 25px;
    max-width: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
}

#areaTarefa{
    display: flex;
    flex-direction: column;
    max-height: 40vh;
    overflow-y: auto;  
}
 ::-webkit-scrollbar{
    background-color:#A8DAE5;
    width: 1px;

}
::-webkit-scrollbar-thumb{
background-color: #A8DAE5;
height: 1px;

} 
#areaTarefa > div{
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.tarefaDinamica{
    min-width: 25vh;
    max-width: 25vh;
}
button{
    background-color: #A8DAE5;
    border: 0px;
    border-radius: 60px;
}
button:hover{
    background-color: #FFF2A6;
    border: 0px;
}
input{
    background-color: #A8DAE5;
    border-radius: 15px;
    border: #A8DAE5;
   
}







/* main{
    background-color: #0799f5;
   

    border-radius: 25px;
-webkit-box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
overflow: auto;
    
}
::-webkit-scrollbar{
    background-color: #ffffff;
    width: 5px;

}
::-webkit-scrollbar-thumb{
background-color: #0799f5;
height: 2px;

}
#inputInfo {
    border-radius: 15px;
    border: 0vh;
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
   
}
#inputInfo > button{
    background-color: rgb(0, 162, 255);
    margin-right: 5vh;
    border-radius: 100px;
}
#inputInfo > button:hover{
    background-color: rgb(251, 255, 0);
}
#inputInfo > input{
    border-radius: 15px;
    border: 0vh;
    padding: 1vh;
    width: 150px;
    margin-left: 5vh;
    
}


/* 


*/
/* #areaTarefa{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    overflow-y: auto;
    height: 30vh;
}
#areaTarefa > div{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    font-size: 12px;
    padding: 1vh;
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: black;
    min-width: 220px;
    max-width: 220px;
    
}
button{
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    border: 0px; 
    margin-left: 1px;
}
button:hover{
    background-color: rgb(216, 219, 0);
}

.divTarefa{
    width: 15vh;
}

@media (max-width: 500px) {
    main{
    
       
        -webkit-box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
    overflow: auto;
        
    }

    #inputInfo > input{
        border-radius: 15px;
        border: 0vh;
        padding: 1vh;
        width: 125px;
        margin-left: 7vh;
        
    }

    #areaTarefa > div{
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        font-size: 9px;
        padding: 1vh;
        margin-top: 3vh;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        color: black;
        min-width: 150px;
        max-width: 100px;
        
    }
    #areaTarefa > {
        
        
    }
} */    




