body{
   display: flex;
   justify-content: center;
   margin: 0%;
   padding: 0%;
   background-color: rgb(241, 243, 113);
}
main{
    
    background-color: rgb(110, 201, 253);
    color: aliceblue;
    margin-top:5%;
    display: flex;
    width: 50vh;
    height: 60vh;
    
    flex-direction: column;
    border-radius: 25px;
    -webkit-box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
overflow: auto;
    
}
::-webkit-scrollbar{
    background-color: #ffffff;
    width: 5px;

}
::-webkit-scrollbar-thumb{
background-color: #0799f5;
height: 2px;

}
#inputInfo {
    border-radius: 15px;
    border: 0vh;
    margin-top: 8vh;
    display: flex;
    justify-content: space-around;
   
}
#inputInfo > button{
    background-color: rgb(0, 162, 255);
    margin-right: 5vh;
    border-radius: 100px;
}
#inputInfo > button:hover{
    background-color: rgb(251, 255, 0);
}
#inputInfo > input{
    border-radius: 15px;
    border: 0vh;
    padding: 1vh;
    width: 150px;
    margin-left: 5vh;
    
}


/* 


*/
#areaTarefa{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    overflow-y: auto;
    height: 30vh;
}
#areaTarefa > div{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    font-size: 12px;
    padding: 1vh;
    margin-top: 3vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: black;
    min-width: 220px;
    max-width: 220px;
    
}
button{
    background-color: rgb(255, 255, 255);
    border-radius: 20%;
    border: 0px; 
    margin-left: 1px;
}
button:hover{
    background-color: rgb(216, 219, 0);
}

.divTarefa{
    width: 15vh;
}

@media (max-width: 500px) {
    main{
    
        background-color: rgb(110, 201, 253);
        color: aliceblue;
        margin-top:15%;
        display: flex;
        width: 45vh;
        height: 60vh;
        font-size: 10px;
        flex-direction: column;
        border-radius: 25px;
        -webkit-box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 14px 17px 5px 0px rgba(0,0,0,0.75);
    overflow: auto;
        
    }

    #inputInfo > input{
        border-radius: 15px;
        border: 0vh;
        padding: 1vh;
        width: 125px;
        margin-left: 7vh;
        
    }

    #areaTarefa > div{
        background-color: rgb(255, 255, 255);
        border-radius: 25px;
        font-size: 9px;
        padding: 1vh;
        margin-top: 3vh;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        color: black;
        min-width: 150px;
        max-width: 100px;
        
    }
    #areaTarefa > {
        
        
    }
}




